@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Stylish', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  background: linear-gradient(180deg, #0E0E0E 14.58%, #1C150C 50.52%, #050402 84.9%);
  height: 100%;
  min-height: 100vh;
  overflow-y: clip;
}

a {
  color: white;
  text-decoration: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
