.footer {
  background-color: #0b0904;
  height: 120px;
  img {
    width: 400px;
    height: 120px;
    float: left;
  }

  .linkBox {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
      display: flex;
      flex-direction: column;
    }

    svg {
      margin-left: 1.7em;
    }
  }
}

@media only screen and (max-width: 640px) {
  .footer {
    display: flex;
    img {
      width: 30vw;
    }
  }
}

